@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --bgcolor : #ffffff;
    --accentcolor: #000000;
}

body {
    background-image: url("img/background.png");;
    background-color: var(--bgcolor);
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link-tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: 40px auto;
    gap: 20px;
}
.link-tree img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.link-tree h1 {
    font-size: 2.5rem;
}

.link-tree a, button {
    background-color: var(--accentcolor);
    color: var(--bgcolor);
    width: 100%;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 2px var(--accentcolor);
    transition: all 0.5s linear;
}

.link-tree a:hover, button:hover {
    background-color: var(--bgcolor);
    color: var(--accentcolor);
}

.social-icons{
    text-align: center;
    align-items: center;
    color: var(--accentcolor);
}

.social-icons a:visited{
    text-align: center;
    align-items: center;
    color: var(--accentcolor);
}

.normal-icons-size {
    color: var(--accentcolor);
    font-size: 52px
}

@media (min-width: 1024px) {
    .link-tree {
        width: 40vw;
    }
}